.logo {
	color: var(--accent-color);
	text-decoration: none;
	font-family: Raleway, sans-serif;

	font-weight: 700;
	font-size: 24px;
	line-height: 1.16;

	&__black {
		color: var(--logo-black);
	}

	&__white {
		color: var(--hero-text-color);
	}

	@media screen and (min-width: 1200px) {
		font-size: 26px;
		line-height: 1.2;
	}
}
