.overlay {
	max-width: 1600px;
	height: 600px;
	outline: 1px solid #c4c4c4;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/Header\ img_s-@1x.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: auto;
	margin-right: auto;

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		background-image: url(../images/Header\ img_s-@2x.png);
	}

	@media screen and (min-width: 481px) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url(../images/Header\ img_M-@1x.jpg);

		@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
			background-image: url(../../images/Header\ img_M-@2x.jpg);
		}
	}

	@media screen and (min-width: 769px) {
		background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img10.jpg);

		// @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		// 	background-image: url(../../images/Header\ img_M-@2x.png);
		// }
	}
}

.product-thumb {
	position: relative;
	overflow: hidden;

	&:hover::before {
		opacity: 1;
	}
}

.product-overley {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 150, 243, 0.9);
	opacity: 0;
	transform: translatey(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product:hover .product-action,
.product:focus .product-action {
	opacity: 1;
	transform: translatey(0);
}
