.under-photo-portfolio {
	padding: 20px 24px;
	border: 1px solid #eeeeee;
	border-top: none;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -30px;
	margin-right: -30px;

	& li:nth-child(3n) .hero {
		background-image: url(./images/Img.svg);
	}

	& a {
		display: block;
		text-decoration: none;
		color: var(--main-text-color);
		transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}

	& li {
		margin-right: 30px;
		margin-bottom: 30px;
	}
}

.portfolio-list-1:hover,
.portfolio-list-1:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-title {
	color: var(--main-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	margin-bottom: 4px;
}

.list-name {
	color: var(--second-text-color);
	font-size: 16px;
	line-height: 1.9;
}

.product-action {
	display: block;
	width: 100%;
	height: 100%;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.5;
	letter-spacing: 0.03em;
	color: var(--hero-text-color);
	background-color: rgba(33, 150, 243, 0.9);
	padding: 63px 24px;

	position: absolute;
	top: 0;
	left: 0;
	transform: translatey(100%);
	opacity: 0;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
