:root {
    --main-text-color: #212121;
    --second-text-color: #757575;
    --accent-color: #2196f3;
    --hero-text-color: #ffffff;
    --accent-background-color: #2F303A;
    --button-hover-focus: #188CE8;
    --section-team-background: #F5F4FA;
    --logo-black: #000000;
}